.chat .chat-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.chat .header-sub-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.chat .header-sub-text {
  text-align: center;
}