@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: .3s ease;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    /* background-color: var( --blackColor ); */
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root{
    --PrimaryColor: #640d5e7f;
    --HoverColor: #081b3077; 
    --textColor: hsl(240, 1%, 48%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyBg: hsl(0, 0%, 96%);
    --greyText: rgb(190, 190, 190);
    --inputColor: hsl(330, 12%, 97%);
    --boxShadow:  0 2px 8px 2px var( --whiteColor );

    --whiteColor: #FFFFFF;
    --blackColor: #000000;
    --blueColor: #2C74B3;
    --lightBlueColor: #F2F6FA;
    --darkBlueColor: #11263A;
    --photoMask: linear-gradient( #00000070, #00000070);
}


a{
    text-decoration: none;
    color: var( --blueColor );
}

li{
    list-style: none;
}

.section{
    padding: 4rem 0 2rem;
 }

.container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.icon{
    font-size: 2rem;
    cursor: pointer;
}

.flex{
    display: flex;
    align-items: center;
}

.grid{
    display: grid;
    align-items: center;
}

.btn{
    padding: .4rem 1.5rem;
    background: var(--blueColor);
    color: var(--darkBlueColor);
    border: none;
    outline: none;
    border-radius: .5rem;
    cursor: pointer;
}

.btn a{
 color: var(--darkBlueColor);
 font-weight: 500;
}

.btn:hover{
    background: var(--blueColor);
    box-shadow: var(--boxShadow);
}

.btn:hover a{
    color: var(--darkBlueColor);
}

.secIntro{
    max-width: 70%;
    text-align: center;
    margin: 0 auto 2rem;
    
}
.secIntro .secTitle{
    color: var(--blackColor);
    line-height: 1.5rem;
    padding-bottom: .5rem;
}

.secIntro p{
    font-size: 13px;
    color: var(--textColor);
    font-weight: 500;
}


img, video{
width: 100%;
height: auto;
}

input{
    font-size: 100%;
}

.chat {
    /* margin-top: ; */
    padding: 50px;
    font-family: 'Work Sans', sans-serif;
    background: #1D1E20;
    color: #DADADB;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}


::selection{
    background: var(--blueColor);
    color: var(--whiteColor);
}

::-webkit-scrollbar{
    width: 10px;
    background: var(--blackColor);
}
::-webkit-scrollbar-thumb{
    background: var(--blueColor);
    border-radius: 10px;
}

@media screen and (min-width: 556px) {

    .mainContent, .singlePost{
        grid-template-columns: repeat(2,1fr);
    } 
}

@media screen and (min-width: 884px) {
    .mainContent{
        grid-template-columns: repeat(3,1fr);
    } 
}


@media screen and (min-width: 1024px) {
    .container{
        width: 75% !important;
        margin: auto !important;
    }

    .section{
        padding: 5rem 0 3rem;
    }

    .secIntro{
        margin: 0 auto 3rem;
        
    }

    .secIntro .secTitle{
        line-height: 2rem;
        padding-bottom: 1rem;
        font-size: 2.2rem;
    }

    .secIntro p{
        font-size: 15px;

    }

    
}

@media screen and (min-width: 2560px){
    body{
        zoom: 1.7;
    }
}