.header {
  max-width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--blackColor);
  width: 100%;
  height: 70px;
  z-index: 1000;
  padding: 1rem;
  opacity: 0.9;
}

.header .navBar .navLists .headerBtns .user-icon img {
  background: var(--PrimaryColor);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 2px;
}

@media screen and (max-width: 768px) {
  .header .navBar {
    background: var(--blackColor);
    position: absolute;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: 100%;
    padding: 1rem;
    top: 0;
    left: -500%;
    z-index: 2000;
    box-shadow: 0 2px 4px rgba(209, 209, 209, 0.904);
    transition: 0.5s ease-in-out;
  }
  .header .navBar .navLists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin: auto;
    padding: 0.5rem 0;
  }
  .header .navBar .navLists .navItem {
    padding: 0.5rem 0;
  }
  .header .navBar .navLists .navItem .navLink {
    color: var(--textColor);
    font-size: 0.9rem;
    font-weight: 600;
  }
  .header .navBar .navLists .navItem .navLink:hover {
    color: var(--PrimaryColor);
  }
  .header .navBar .navLists .headerBtns {
    flex-direction: column;
  }

  .header .navBar .navLists .headerBtns .user-icon img {
    background: var(--PrimaryColor);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 2px;
  }
  .header .navBar .navLists .headerBtns .btn {
    margin-top: 1rem;
  }
  .header .navBar .navLists .headerBtns .btn a {
    font-weight: 600;
  }
  .header .navBar .navLists .headerBtns .btn:hover a {
    color: var(--whiteColor);
  }
  .header .navBar .navLists .headerBtns .loginBtn {
    background: none;
    border: 1px solid var(--blueColor);
    color: var(--darkBlueColor);
  }
  .header .navBar .navLists .headerBtns .loginBtn a {
    color: var(--darkBlueColor);
  }
  .header .navBar .navLists .headerBtns .loginBtn:hover {
    background: var(--lightBlueColor);
  }
  .header .navBar .navLists .headerBtns .loginBtn:hover a {
    color: var(--darkBlueColor);
  }
  
  .header .navBar .closeNavbar {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: var(--blueColor);
  }
  .header .navBar .closeNavbar:hover .icon {
    color: var(--SecondaryColor);
  }
  .header .activeNavbar {
    left: 0%;
  }
}
.header .toggleNavbar .icon {
  font-size: 25px;
  color: var(--whiteColor);
}
.header .toggleNavbar:hover.icon {
  color: var(--SecondaryColor);
}

.activeHeader {
  background: var(--blackColor);
  box-shadow: var(--boxShadow);
}

@media screen and (min-width: 769px) {
  .toggleNavbar, .closeNavbar {
    display: none;
  }
  .header {
    padding: 1.5rem 2rem;
  }
  .header .navBar .navLists {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .header .navBar .navLists .navItem .navLink {
    color: var(--whiteColor);
    padding: 0 0.45rem;
    font-size: 0.9rem;
    font-weight: 400;
  }
  .header .navBar .navLists .navItem .navLink:hover {
    color: var(--blueColor);
  }
  .header .navBar .navLists .navItem .navLink .headerNumber {
    color: var(--primaryHover);
  }
  .header .navBar .navLists .btn {
    margin-left: 1rem;
  }
  .header .navBar .navLists .btn a {
    color: var(--whiteColor);
    font-weight: 500;
  }
  .header .navBar .navLists .loginBtn {
    background: none;
    border: 1px solid var(--blueColor);
  }
}
@media screen and (min-width: 960px) {
  .header .navBar .navLists .navItem {
    padding: 0 0.7rem;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    padding: 1rem 8.5rem;
  }
}/*# sourceMappingURL=navbar.css.map */