.chat .chat-response {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.chat .response-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.chat .hr-line {
  width: 800px;
}

.chat .response-container {
  width: 800px;
}

.chat .response-question {
  padding: 25px;
  margin-top: 10px;
  background: #4169E1;
  font-weight: bold;
}

.response-answer {
  padding: 30px 25px;
  line-height: 1.5em;
  background: #343536;
}